bin/
debug/
release/
x64/
artifacts/
docs/website/public
.vscode/
res/libsodium.a
res/libsodium/libsodium*
res/libsodium.a
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
yeclite
YecLite.app
YecLite-mingw*
YecLite.vcxproj*
zecwallet.vcxproj*
YecLite.sln
YecLite.pro.user
/Makefile
/Makefile.*
qrc_application.cpp
zec-qt-wallet_plugin_import.cpp
yeclite_plugin_import.cpp
zec-qt-wallet_resource*
zecwallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
zcashd
IDEWorkspaceChecks.plist
*.sln
node_modules
zec-qt-wallet.pro.user.4.10-pre1
YecLite
YecLite_plugin_import.cpp
YecLite_resource.rc
